In [14]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in c:\users\91749\desktop\data_science_repository\course_python_machine_learning\venv\lib\site-packages (2.2.5)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\91749\desktop\data_science_repository\course_python_machine_learning\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\91749\desktop\data_science_repository\course_python_machine_learning\venv\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\91749\desktop\data_science_repository\course_python_machine_learning\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\91749\desktop\data_science_repository\course_python_machine_learning\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\91749\desktop\data_science_repository\course_python_machine_learning\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\91749\desktop\data_science_repository\course_python_machine_learning\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
import numpy as np
import pandas as pd

In [16]:
students = [
    {"name": "Manuj", "math": 85, "science": 90},
    {"name": "pranav", "math": 75, "science": 80},
    {"name": "Aditya", "math": 95, "science": 85}
]

In [17]:
def calculate_average(scores):
    return np.mean(scores)

In [18]:
class StudentData:
    def __init__(self, student_list):
        self.df = pd.DataFrame(student_list)

    def add_total_and_average(self):
        self.df['total'] = self.df[['math', 'science']].sum(axis=1)
        self.df['average'] = self.df[['math', 'science']].mean(axis=1)

    def show(self):
        print("Student Data:\n")
        print(self.df)

In [19]:
print("Working with Lists and Dictionaries:\n")
for student in students:
    print(f"{student['name']} - Math: {student['math']}, Science: {student['science']}")

Working with Lists and Dictionaries:

Manuj - Math: 85, Science: 90
pranav - Math: 75, Science: 80
Aditya - Math: 95, Science: 85

In [20]:
data = StudentData(students)
data.add_total_and_average()
data.show()

Student Data:

     name  math  science  total  average
0   Manuj    85       90    175     87.5
1  pranav    75       80    155     77.5
2  Aditya    95       85    180     90.0

In [21]:

math_scores = [student['math'] for student in students]
print("\nAverage Math Score (Using NumPy):", calculate_average(math_scores))

Average Math Score (Using NumPy): 85.0

In [22]:
arr = np.array([1, 2, 3, 4, 5])
print("Array:", arr)
print("Mean:", np.mean(arr))

Array: [1 2 3 4 5]
Mean: 3.0

In [24]:
data = [
    {"name": "adi", "score": 90},
    {"name": "aditya", "score": 80}
]
df = pd.DataFrame(data)
print(df)

     name  score
0     adi     90
1  aditya     80

In [25]:
df['status'] = ['Pass' if score >= 85 else 'Fail' for score in df['score']]
print(df)

     name  score status
0     adi     90   Pass
1  aditya     80   Fail

In [26]:
numbers = [10, 20, 30, 40, 50]
for number in numbers:
    print(f"Number: {number}")

Number: 10
Number: 20
Number: 30
Number: 40
Number: 50