In [1]:
import pandas as pd

In [30]:
data_frame_01=pd.read_csv("C:/Users/91749/Downloads/archive (5)/deliveries.csv")

In [31]:
data_frame_02=pd.read_csv("C:/Users/91749/Downloads/archive (5)/matches.csv")

In [32]:
data_frame_02.rename(columns={"id": "match_id"}, inplace=True)

In [33]:
data_frame_02.head(2)

,match_id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri

In [34]:
columns_data_frame_01 = set(data_frame_01.columns)

In [35]:
columns_data_frame_02 = set(data_frame_02.columns)

In [37]:
common_columns=columns_data_frame_01.intersection(columns_data_frame_02)
common_columns

{'match_id'}

In [127]:
merged_data_set= pd.merge(data_frame_01, data_frame_02, how="left", on="match_id")
merged_data_set.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder', 'season', 'city', 'date', 'match_type',
       'player_of_match', 'venue', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'winner', 'result', 'result_margin', 'target_runs',
       'target_overs', 'super_over', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [58]:
merged_data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 36 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
 17  season            260920 non-null  object
 18  city              248523 non-null  object
 19  date              260920 non-null  object
 20  match_type        260920 non-null  object
 21  player_of_match   260430 non-null  object
 22  venue             260920 non-null  object
 23  team1             260920 non-null  object
 24  team2             260920 non-null  object
 25  toss_winner       260920 non-null  object
 26  toss_decision     260920 non-null  object
 27  winner            260430 non-null  object
 28  result            260920 non-null  object
 29  result_margin     256796 non-null  float64
 30  target_runs       260611 non-null  float64
 31  target_overs      260611 non-null  float64
 32  super_over        260920 non-null  object
 33  method            3646 non-null    object
 34  umpire1           260920 non-null  object
 35  umpire2           260920 non-null  object
dtypes: float64(3), int64(8), object(25)
memory usage: 71.7+ MB

In [48]:
merged_data_set.describe()

,match_id,inning,over,ball,batsman_runs,extra_runs,total_runs,is_wicket,result_margin,target_runs,target_overs
count,2.609200e+05,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,256796.000000,260611.000000,260611.000000
mean,9.070665e+05,1.483531,9.197677,3.624486,1.265001,0.067806,1.332807,0.049632,17.279451,167.290406,19.846742
std,3.679913e+05,0.502643,5.683484,1.814920,1.639298,0.343265,1.626416,0.217184,21.600307,32.165944,1.224266
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,43.000000,5.000000
25%,5.483340e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,148.000000,20.000000
50%,9.809670e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000,8.000000,167.000000,20.000000
75%,1.254066e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000,20.000000,188.000000,20.000000
max,1.426312e+06,6.000000,19.000000,11.000000,6.000000,7.000000,7.000000,1.000000,146.000000,288.000000,20.000000

In [62]:
merged_data_set.isnull().count().head(3)

match_id        260920
inning          260920
batting_team    260920
dtype: int64

In [65]:
merged_data_set.duplicated().sum()

np.int64(0)

In [66]:
merged_data_set.groupby("player_of_match")["winner"].count()

player_of_match
A Chandila       244
A Kumble         692
A Manohar        246
A Mishra        2856
A Nehra         1405
                ...
YK Pathan       3735
YS Chahal       1452
Yash Thakur      243
Yuvraj Singh    1241
Z Khan           220
Name: winner, Length: 291, dtype: int64

In [85]:
data_frame_02.groupby("player_of_match")["winner"].count().sort_values(ascending=False).head(6)

player_of_match
AB de Villiers    25
CH Gayle          22
RG Sharma         19
DA Warner         18
V Kohli           18
MS Dhoni          17
Name: winner, dtype: int64

In [95]:
data_frame_final_results= data_frame_02[data_frame_02["match_type"]=="Final"]

In [96]:
(data_frame_02["match_type"]=="Final").sum()

np.int64(17)

In [97]:
data_frame_final_results

,match_id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
57,336040,2007/08,Mumbai,2008-06-01,Final,YK Pathan,Dr DY Patil Sports Academy,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,164.0,20.0,N,NaN,BF Bowden,RE Koertzen
114,392239,2009,Johannesburg,2009-05-24,Final,A Kumble,New Wanderers Stadium,Royal Challengers Bangalore,Deccan Chargers,Royal Challengers Bangalore,field,Deccan Chargers,runs,6.0,144.0,20.0,N,NaN,RE Koertzen,SJA Taufel
174,419165,2009/10,Mumbai,2010-04-25,Final,SK Raina,Dr DY Patil Sports Academy,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Chennai Super Kings,runs,22.0,169.0,20.0,N,NaN,RE Koertzen,SJA Taufel
247,501271,2011,Chennai,2011-05-28,Final,M Vijay,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,Chennai Super Kings,runs,58.0,206.0,20.0,N,NaN,Asad Rauf,SJA Taufel
321,548381,2012,Chennai,2012-05-27,Final,MS Bisla,"MA Chidambaram Stadium, Chepauk",Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,bat,Kolkata Knight Riders,wickets,5.0,191.0,20.0,N,NaN,BF Bowden,SJA Taufel
397,598073,2013,Kolkata,2013-05-26,Final,KA Pollard,Eden Gardens,Chennai Super Kings,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,23.0,149.0,20.0,N,NaN,HDPK Dharmasena,SJA Taufel
457,734049,2014,Bangalore,2014-06-01,Final,MK Pandey,M Chinnaswamy Stadium,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,3.0,200.0,20.0,N,NaN,HDPK Dharmasena,BNJ Oxenford
516,829823,2015,Kolkata,2015-05-24,Final,RG Sharma,Eden Gardens,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Mumbai Indians,runs,41.0,203.0,20.0,N,NaN,HDPK Dharmasena,RK Illingworth
576,981019,2016,Bangalore,2016-05-29,Final,BCJ Cutting,M Chinnaswamy Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,8.0,209.0,20.0,N,NaN,HDPK Dharmasena,BNJ Oxenford
635,1082650,2017,Hyderabad,2017-05-21,Final,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,bat,Mumbai Indians,runs,1.0,130.0,20.0,N,NaN,NJ Llong,S Ravi
695,1136620,2018,Mumbai,2018-05-27,Final,SR Watson,Wankhede Stadium,Sunrisers Hyderabad,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,8.0,179.0,20.0,N,NaN,M Erasmus,S Ravi
755,1181768,2019,Hyderabad,2019-05-12,Final,JJ Bumrah,Rajiv Gandhi International Stadium,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,Mumbai Indians,runs,1.0,150.0,20.0,N,NaN,IJ Gould,Nitin Menon
815,1237181,2020/21,NaN,2020-11-10,Final,TA Boult,Dubai International Cricket Stadium,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,157.0,20.0,N,NaN,CB Gaffaney,Nitin Menon
875,1254117,2021,Dubai,2021-10-15,Final,F du Plessis,Dubai International Cricket Stadium,Chennai Super Kings,Kolkata Knight Riders,Kolkata Knight Riders,field,Chennai Super Kings,runs,27.0,193.0,20.0,N,NaN,Nitin Menon,RK Illingworth
949,1312200,2022,Ahmedabad,2022-05-29,Final,HH Pandya,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,Gujarat Titans,Rajasthan Royals,bat,Gujarat Titans,wickets,7.0,131.0,20.0,N,NaN,CB Gaffaney,Nitin Menon
1023,1370353,2023,Ahmedabad,2023-05-29,Final,DP Conway,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,171.0,15.0,N,D/L,Nitin Menon,RJ Tucker
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [100]:

data_frame_final_results.groupby(["winner"])["season"].count().sort_values(ascending=False)

winner
Chennai Super Kings      5
Mumbai Indians           5
Kolkata Knight Riders    3
Gujarat Titans           1
Deccan Chargers          1
Rajasthan Royals         1
Sunrisers Hyderabad      1
Name: season, dtype: int64

In [104]:
most_successful_teams=data_frame_02.groupby(["winner"])["season"].count().sort_values(ascending=False)

In [105]:
most_successful_teams

winner
Mumbai Indians                 144
Chennai Super Kings            138
Kolkata Knight Riders          131
Royal Challengers Bangalore    116
Rajasthan Royals               112
Kings XI Punjab                 88
Sunrisers Hyderabad             88
Delhi Daredevils                67
Delhi Capitals                  48
Deccan Chargers                 29
Gujarat Titans                  28
Lucknow Super Giants            24
Punjab Kings                    24
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Royal Challengers Bengaluru      7
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: season, dtype: int64

In [107]:
data_frame_semifinal_results=data_frame_02[data_frame_02["match_type"]=="Semi Final"]

In [112]:
teams_in_semis=data_frame_semifinal_results.groupby("winner")["season"].count().sort_values(ascending=False)
teams_in_semis

winner
Chennai Super Kings            2
Deccan Chargers                1
Mumbai Indians                 1
Rajasthan Royals               1
Royal Challengers Bangalore    1
Name: season, dtype: int64

In [126]:
data_frame_02[(data_frame_02["target_runs"]>=200) & (data_frame_02["date"]>="19-09-2024")].sort_values(by="target_runs",ascending=False).head(5)

,match_id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
1053,1426268,2024,Bengaluru,2024-04-15,League,TM Head,"M Chinnaswamy Stadium, Bengaluru",Sunrisers Hyderabad,Royal Challengers Bengaluru,Royal Challengers Bengaluru,field,Sunrisers Hyderabad,runs,25.0,288.0,20.0,N,NaN,AK Chaudhary,R Pandit
1031,1422126,2024,Hyderabad,2024-03-27,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,Sunrisers Hyderabad,runs,31.0,278.0,20.0,N,NaN,KN Ananthapadmanabhan,UV Gandhe
1039,1422134,2024,Visakhapatnam,2024-04-03,League,SP Narine,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Kolkata Knight Riders,Delhi Capitals,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,106.0,273.0,20.0,N,NaN,A Totre,UV Gandhe
1058,1426273,2024,Delhi,2024-04-20,League,TM Head,"Arun Jaitley Stadium, Delhi",Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,67.0,267.0,20.0,N,NaN,J Madanagopal,Navdeep Singh
352,598027,2013,Bangalore,2013-04-23,League,CH Gayle,M Chinnaswamy Stadium,Royal Challengers Bangalore,Pune Warriors,Pune Warriors,field,Royal Challengers Bangalore,runs,130.0,264.0,20.0,N,NaN,Aleem Dar,C Shamshuddin

In [133]:
player_wins = data_frame_02.groupby('player_of_match')['winner'].count().reset_index()

In [173]:
player_wins.sort_values(by='winner', ascending=False).head(7)

    player_of_match  winner
11   AB de Villiers      25
43         CH Gayle      22
214       RG Sharma      19
53        DA Warner      18
276         V Kohli      18
165        MS Dhoni      17
252       SR Watson      16

In [138]:
team_losses = data_frame_02.copy()

In [154]:
team_wins = data_frame_02.groupby('winner').size().reset_index(name="wins")

In [156]:
team_wins.head(5)

                winner  wins
0  Chennai Super Kings   138
1      Deccan Chargers    29
2       Delhi Capitals    48
3     Delhi Daredevils    67
4        Gujarat Lions    13

In [ ]:
#this is a different data frame for getting important matches only
important_matches = data_frame_02[data_frame_02['match_type'].isin(['Semi Final', 'Final', 'Qualifier 1', 'Qualifier 2', 'Eliminator'])]

In [159]:
important_matches.head(5)

,match_id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
55,336038,2007/08,Mumbai,2008-05-30,Semi Final,SR Watson,Wankhede Stadium,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,field,Rajasthan Royals,runs,105.0,193.0,20.0,N,NaN,BF Bowden,RE Koertzen
56,336039,2007/08,Mumbai,2008-05-31,Semi Final,M Ntini,Wankhede Stadium,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,bat,Chennai Super Kings,wickets,9.0,113.0,20.0,N,NaN,Asad Rauf,DJ Harper
57,336040,2007/08,Mumbai,2008-06-01,Final,YK Pathan,Dr DY Patil Sports Academy,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,164.0,20.0,N,NaN,BF Bowden,RE Koertzen
112,392237,2009,Centurion,2009-05-22,Semi Final,AC Gilchrist,SuperSport Park,Delhi Daredevils,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,6.0,154.0,20.0,N,NaN,BR Doctrove,DJ Harper
113,392238,2009,Johannesburg,2009-05-23,Semi Final,MK Pandey,New Wanderers Stadium,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,6.0,147.0,20.0,N,NaN,RE Koertzen,SJA Taufel

In [160]:
match_order = ['Final', 'Qualifier 1', 'Qualifier 2', 'Semi Final', 'Eliminator']

In [168]:
important_matches['match_type'] = pd.Categorical(important_matches['match_type'],categories=match_order)
#generally this categorical value is used to save the memory of the computer 
#it converts the categories and assigns a unique integer to them 
#Remember it bro very important for efficiency

In [169]:
important_matches = important_matches.sort_values('match_type')

In [170]:
important_matches.head(5)

,match_id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon
247,501271,2011,Chennai,2011-05-28,Final,M Vijay,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Royal Challengers Bangalore,Chennai Super Kings,bat,Chennai Super Kings,runs,58.0,206.0,20.0,N,NaN,Asad Rauf,SJA Taufel
457,734049,2014,Bangalore,2014-06-01,Final,MK Pandey,M Chinnaswamy Stadium,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,3.0,200.0,20.0,N,NaN,HDPK Dharmasena,BNJ Oxenford
576,981019,2016,Bangalore,2016-05-29,Final,BCJ Cutting,M Chinnaswamy Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,8.0,209.0,20.0,N,NaN,HDPK Dharmasena,BNJ Oxenford
635,1082650,2017,Hyderabad,2017-05-21,Final,KH Pandya,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,Mumbai Indians,bat,Mumbai Indians,runs,1.0,130.0,20.0,N,NaN,NJ Llong,S Ravi

In [172]:
important_matches.tail(5)

,match_id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
753,1181766,2019,Visakhapatnam,2019-05-08,Eliminator,RR Pant,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,wickets,2.0,163.0,20.0,N,NaN,BNJ Oxenford,S Ravi
395,598071,2013,Delhi,2013-05-22,Eliminator,BJ Hodge,Feroz Shah Kotla,Rajasthan Royals,Sunrisers Hyderabad,Sunrisers Hyderabad,bat,Rajasthan Royals,wickets,4.0,133.0,20.0,N,NaN,S Ravi,RJ Tucker
693,1136618,2018,Kolkata,2018-05-23,Eliminator,AD Russell,Eden Gardens,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Kolkata Knight Riders,runs,25.0,170.0,20.0,N,NaN,AK Chaudhary,Nitin Menon
455,734045,2014,Mumbai,2014-05-28,Eliminator,SK Raina,Brabourne Stadium,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,field,Chennai Super Kings,wickets,7.0,174.0,20.0,N,NaN,VA Kulkarni,BNJ Oxenford
813,1237178,2020/21,Abu Dhabi,2020-11-06,Eliminator,KS Williamson,Sheikh Zayed Stadium,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,132.0,20.0,N,NaN,PR Reiffel,S Ravi

In [185]:
class Player : 
    def __init__(self, name, team):
        self.name=name
        self.team=team
    def describe(self):
            return f"{self.name} plays for {self.team}"

In [186]:
p1=Player("Rohit Sharma","Mumbai Indians")
print(p1.describe())

Rohit Sharma plays for Mumbai Indians

In [187]:
class Player_01:
    def __init__(self, name, team):
        self.name = name
        self.team = team

    def describe(self):
        return f"{self.name} plays for {self.team}"

In [189]:
p1 = Player_01("MS Dhoni", "CSK")
print(p1.describe())

MS Dhoni plays for CSK